  <!--Form to take in profile picture, name, email, password-->

  <section id="cover" class="min-vh-100">
    <div id="cover-caption">
      <div class="container-fluid">
        <div class="row text-white">
          <div class="col-xl-5 col-lg-4 col-md-6 col-sm-10 mx-auto text-center form p-4">
            <div class="px-2">
              <!-- form starts -->
              <form class="justify-content-center" id="user-form">
                <!-- User info -->
                <div class="col-sm">
                  <br>
                  <img class="center" src="/assets/images/laughing.svg">
                  <h1 class="display-4 py-2 text-truncate" id="title" style="margin-top: -25%;">Welcome Back!</h1>
                  <br>
                </div>
                <div class="col-sm">
                  <img class="center" src="/assets/images/annoyed.svg">
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <span style="font-size: larger; font-weight: 600; margin-bottom: 125%;">This page is currently under construction.</span>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                </div>
                <div class="col-sm">
                  Thanks for your patience.
                </div>

                </form>
                <br>
                <div class="text-center">
                  <a href="/"><button onclick="logout()" class="btn btn-primary">Log Out</button></a>
                </div>

                <br>
                <!-- footer -->
                <footer>
                  <p>DMJ designs | all rights reserved 2020</p>
                </footer>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



  <!-- firebase -->
  <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
  <script src="/js/fireBaseSignOut.js" type="text/javascript"></script>