/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800;900&display=swap');

html,
body {
	background: #ffd900;
	font-size: 80%;
	height: 100%;
	margin-bottom: -20px;
}

#home {
	background: #ffd900;
	font-size: 80%;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#cover {
	background: #ffd900;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

div:not(:last-child) {
	margin-top: 20;
}

div:not(:first-child) {
	margin-top: 20px;
}

/* only used for background overlay not needed for centering */
.col-sm {
	background-color: rgba(0, 0, 0, 0.3);
	/* z-index: -1; */
	border-radius: 10px;
}

#emoji {
	max-width: 10%;
	max-height: 10%;
	display: block; /* remove extra space below image */
}

#chooseProfilePic {
	text-align: center;
	/* margin-bottom: -3%; */
}

/* fonts */
#homeTitle {
	font-family: 'Barlow', sans-serif;
	font-weight: 700;
	letter-spacing: -2px;
}

#title {
	font-family: 'Barlow', sans-serif;
	font-weight: 600;
	letter-spacing: -2px;
}

#subTitle {
	font-family: 'Barlow', sans-serif;
	font-size: 30px;
	font-weight: 500;
	letter-spacing: -1px;
}

#instruction {
	color: #321457;
}

.friend {
	color: #8064a2;
	font-weight: 600;
}

div {
	font-family: 'Barlow', sans-serif;
}

label {
	font-family: 'Barlow', sans-serif;
	font-size: 13px;
}

footer {
	color: #8064a2;
}

/* button properties */
.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
	background-color: #8064a2 !important;
	border: none;
}

.btn:focus,
.btn:active {
	outline: none !important;
	box-shadow: none;
}

.form-control-file {
	border: none;
	height: 37px;
	margin: auto;
	margin-top: 40px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
}

button {
	border: none;
	height: 37px;
	margin: auto;
	margin-top: 40px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	background: #333;
	font-size: 15px;
	color: #fff;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
button i {
	margin-left: 10px;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}
button:hover i,
button:focus i,
button:active i {
	-webkit-animation-name: hvr-icon-wobble-horizontal;
	animation-name: hvr-icon-wobble-horizontal;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}

@media screen and (max-width: 1200px) {
	#title,
	#subTitle {
		font-size: 30px;
	}
}
